.notification__group {
  position: fixed;
  top: 0;
  right: 0;
}



.notification {
  $padding: 20px;
  $space: $padding / 2;
  $width: 250px;

  $background-color: #fff;
  $font-color: #222;

  margin: $space $space 0 0;
  padding: $padding;
  width: $width;
  background: $background-color;
  border-radius: 3px;
  position: relative;

  color: $font-color;
  font-size: 0.8rem;

  .notification__close {
    $size: $padding * 0.75;

    position: absolute;
    top: $padding / 2;
    right: $padding / 2;

    svg {
      width: $size;
      height: $size;
      fill: $font-color;
      display: block;
    }
  }
}



.notification {
  $animation-in-timing-function: ease-out;
  $animation-out-timing-function: ease-in;
  $animation-in-duration: 0.6s;
  $animation-out-duration: 0.3s;

  &.animation-in {
    opacity: 0.5;

    transform: translatex(150%);
    transition: $animation-in-timing-function $animation-in-duration;
    transition-property: opacity transform;

    &.animation-in--active {
      opacity: 1;

      transform: translatex(0);
    }
  }

  &.animation-out {
    opacity: 1;

    transform: translatex(0);
    transition: $animation-out-timing-function $animation-out-duration;
    transition-property: opacity transform;

    &.animation-out--active {
      opacity: 0.5;

      transform: translatex(150%);
    }
  }
}