.modal {
  $max-width: 800px;
  $padding: 20px;

  $box-background-color: #fff;
  $font-color: #222;
  $overlay-backgroud-color: rgba(#000, 0.75);

  background: $overlay-backgroud-color;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  color: $font-color;

  .modal__box {
    padding: $padding;
    width: 100%;
    max-width: $max-width;
    max-height: 100%;
    background: $box-background-color;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow-y: auto;

    transform: translate(-50%, -50%);
  }

  .modal__close {
    $size: $padding * 0.75;

    position: absolute;
    top: $padding / 2;
    right: $padding / 2;

    svg {
      width: $size;
      height: $size;
      fill: $font-color;
      display: block;
    }
  }
}



.modal {
  $animation-in-timing-function: ease-out;
  $animation-out-timing-function: ease-in;
  $animation-in-duration: 0.4s;
  $animation-out-duration: 0.2s;

  &.animation-in {
    opacity: 0;

    transition: opacity $animation-in-timing-function $animation-in-duration;

    &.animation-in--active {
      opacity: 1;

      .modal__box {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    .modal__box {
      transform: translate(-50%, -50%) scale(0.95);
      transition: transform $animation-in-timing-function $animation-in-duration;
    }
  }

  &.animation-out {
    opacity: 1;

    transition: opacity $animation-out-timing-function $animation-out-duration;

    &.animation-out--active {
      opacity: 0;

      .modal__box {
        transform: translate(-50%, -50%) scale(0.95);
      }
    }

    .modal__box {
      transform: translate(-50%, -50%) scale(1);
      transition: transform $animation-out-timing-function $animation-out-duration;
    }
  }
}